.pagination{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    color: white;
}
.page-item{
    color: white;
    background: #fc9d69;
box-shadow: 0 2px 4px rgba(24,4,50,.24);
border-radius: 4px;
padding: 12px 18px;
cursor: pointer;
/* -ms-user-select: none; */
user-select: none;
/* -webkit-user-select: none; */
/* -moz-user-select: none; */
/* -webkit-tap-highlight-color: transparent; */
/* -webkit-user-drag: none; */
margin: 0px 10px;
}
.page-link{
    color: white;
    text-decoration: none;
    background-color: #fc9d69;
    border: none;
}